<div class="form-horizontal" ng-controller="PanelCtrl">
    <div class="form-group">
        <legend>Enter New Value</legend>
    </div>

    <ul>
        <li ng-repeat="(catkey, category) in categories | filter:search">
            <h2>{{ catkey }}</h2>

            <button ng-click="AddDetails = ! AddDetails"><i class="glyphicon  glyphicon-plus"></i>
            </button>
            <div ng-modal="edit" ng-class="{ 'hidden': ! AddDetails }">
                <input ng-model="input.name" value="" placeholder="name" />
                <input ng-model="input.url" value="" placeholder="url" />
                <button ng-click="addNewItem(catkey, input)"><i class="glyphicon glyphicon-floppy-saved"></i>
                </button>
            </div>

            <ul>
                <li ng-repeat="(itemkey, item)  in category">

                    <a href="{{item.url}}" target="_blank" ng-class="{ 'hidden':  editDetails }">{{item.name}}</a>

                    <div ng-modal="edit" ng-class="{ 'hidden': ! editDetails }">
                        <input ng-model="itemInput.name" value="{item.name}"/>
                        <input ng-model="itemInput.url" value="{item.url}"/>
                    </div>



                    <button ng-click="editDetails = ! editDetails" ng-class="{ 'hide':  editDetails}">
                        <i class="glyphicon" ng-class="{ 'glyphicon-pencil': ! editDetails}"></i>
                    </button>

                    <button ng-click="editItem(catkey, itemkey, itemInput); editDetails = ! editDetails" ng-class="{ 'hide':  !editDetails }">
                        <i class="glyphicon glyphicon-floppy-saved"></i>
                    </button>

                    <button ng-click="removeItem(catkey, itemkey )"><i class="glyphicon glyphicon-remove"></i>
                    </button>

                    <!--  -->
                </li>
            </ul>

        </li>

    </ul>
</div>
    <div>{{msg}}</div>
