<div ng-controller="PanelCtrl">

    <div class="row panel-add-category">
        <div class="container">
            <div class="col-md-12">
                <h4>Add New Category</h4>
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" ng-model="AddCatinput.name" class="form-control" placeholder="Category Name">
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="AddCatinput.description" class="form-control" placeholder="Category Description">
                    </div>
                    <button type="submit" ng-click="addNewCategory(AddCatinput)" class="btn btn-default"><i class="glyphicon glyphicon-floppy-saved"></i> Save</button>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <masonry class="panel-list-wrapper col-md-12">
                <li ng-repeat="(catKey, list) in categories | filter:search" class="masonry-brick">
                    <h4>
                        {{ list.category.name }}
                        <button class="btn btn-default pull-right btn-sm" data-toggle="modal" data-target="#{{list.category.name | nospace}}"><i class="glyphicon  glyphicon-plus"></i>
                        </button>
                    </h4>

                    <div class="modal fade" id="{{list.category.name | nospace}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">Add New Item to {{list.category.name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Item Name</label>
                                        <input type="text" ng-model="Addinput.name" required class="form-control" placeholder="Item Name" />
                                    </div>
                                    <div class="form-group">
                                        <label>Item Url</label>
                                        <input type="text" ng-model="Addinput.url" required class="form-control" placeholder="Item Url">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="Addinput.free"> It's Free
                                        </label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                                    <button ng-click="addNewItem(list.category.name,Addinput)" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-saved"> Save</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>



                    <ul>
                        <li ng-repeat="(key, item) in list.items">
                            <a href="{{item.url}}" target="_blank" >{{item.name}}</a>

                            <div class="edit-form" ng-modal="edit" ng-class="{ 'hidden': ! editDetails }">
                                <div class="form-group">
                                    <label>Item Name</label>
                                    <input class="form-control input-sm" required ng-model="item.name" />
                                </div>
                                <div class="form-group">
                                    <label>Item Url</label>
                                    <input class="form-control input-sm" required ng-model="item.url" />
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="item.free"> It's Free
                                    </label>
                                </div>

                                <hr/>
                                <div ng-click="editItem(list.category.name, key, item); editDetails = ! editDetails" ng-class="{ 'hide':  !editDetails }" class="btn btn-danger btn-sm">
                                    <i class="glyphicon glyphicon-floppy-saved"> save</i>
                                </div>
                                <div ng-click=" editDetails = ! editDetails" class="btn btn-default btn-sm">
                                    <i class="glyphicon glyphicon-times"> cancel</i>
                                </div>
                            </div>
                            <div class="actions">
                                <div ng-click="editDetails = ! editDetails" ng-class="{ 'hide':  editDetails}" class="btn  btn-sm">
                                    <i class="glyphicon" ng-class="{ 'glyphicon-pencil': ! editDetails}"></i>
                                </div>

                                <div ng-click="removeItem(list.category.name, key )" class="btn btn-sm"><i class="glyphicon glyphicon-remove"></i>
                                </div>
                            </div>



                            <!--  -->
                        </li>
            </masonry>

            </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
$('.nav-pills').hide();
</script>
